/*  Main body  */

body {
    position: relative;
    background: white;
    margin-left: 1.5em;
    margin-right: 1.5em;
    padding: 0;
    font-family: "Times New Roman", Times, serif;
}

/* Section */

section {
    overflow: hidden;  /* Keeps floats inside section */
}
		  

/* Navigation bar  */

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #002058;
}

nav li {
    float: left;
    color: white;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 1.5ex 0.5em;
    text-decoration: none;
}

nav li a.active {
    background-color: #E87722;
}

nav li a:hover {
    background-color: #000;
}


/* h1 gets used as the title, and that's it */
h1 {
    padding: 1.5ex 0 1.5ex 0;
    text-align: center; 
    background: #002058;
    color: white;
    letter-spacing: 0em;
    text-transform: capitalize;
    vertical-align: middle;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-weight: bold;
    font-size: 130%;
}

/* h3 gets used as section headers */
h2 {
    padding: 1ex 0 1ex 1em;
    text-align: left; 
    background: #002058;
    color: white;
    letter-spacing: 0em;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 110%;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    vertical-align: middle;
}

div.threecontainer {
    position: relative;
    border: solid black 1px;
}

canvas.threejs {
}

div.threecontrol {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}